*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul, ol, li{
    list-style: none;
}
body{
    overflow: hidden;
    background-color: #FEB4B3;
}

header{
    height: 1vh;
    background-image: url(./img/header-image.png);
    background-position: bottom;
    background-size: cover;
    color: white;
    padding: 40px 7px;
    display: grid;
}

.menu img{
    display: none;
}

.compras img{
    display: none;
}

.logo img{
    top: 40px;
    position: absolute;
    left: 7%;
    transform: translate(-50%, -50%);
    height: 40px;
}

.marca p{
    place-self: center;
    left: 9%;
    bottom: 30px;
    position: relative;
    bottom: 20x;
    font-size: 18px;
    font-family: 'Changa One', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Varela Round', sans-serif;
}
.items{
    display: flex;
    place-self: center;
    position: relative;
    bottom: 10px;
    left: 100px;
    gap: 80px;
}
.items p{
    font-size: 15px;
    font-family: 'Changa One', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Varela Round', sans-serif;
}
.buynow{
    top: 18px;
    display: grid;
    font-family: 'Changa One', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    width: 95px;
    left: 85%;
    font-size: 13px;
    font-weight: 600;
    position: absolute;
    border-radius: 10px;
    padding: 12px;
    color: #720D14;
    background-color: #FBFBFB;
}

main img{
    position: relative;
  }

.imagens{
    display: flex;
}

  .morangos img{
    height: 250px;
    position: absolute;
  }

.potinho img{
    height: 100px;
    left: 180px;
}

.casquinha-e-morango img{
    position: absolute;
    height: 28vh;
    right: 1px;
}

.barca-sorvete img{
    display: none;

}

.barca-desktop img{
    position: relative;
    left: 35%;
    display: flex;
    bottom: 350px;
    height: 570px;
    width: 52vw;
}

.title span{
    display: flex;
    font-size: 50px;
    width: 30rem;
    left: 90px;
    position: relative;
    top: 40px;
    color: white;
    font-family: 'Changa One', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Varela Round', sans-serif;
}
.passion{
    font-weight: 600;
    font-size: 50px;
    margin-left: 90px;
    margin-top: 30px;
    color: #720D14;
    font-family: 'Changa One', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Varela Round', sans-serif;
}
.info{
    font-size: 15px;
    color: #A5696D;
    width: 20rem;
    position: relative;
    top: 15px;
    left: 86px;
    font-family: 'Changa One', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Varela Round', sans-serif;
}
footer img{
    justify-content: space-between;
}
.products_button{
    font-family: 'Changa One', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    width: 120px;
    font-size: 16px;
    font-weight: 300;
    left: 82px;
    top: 75%;
    position: absolute;
    border-radius: 12px;
    padding: 16px;
    color: #FBFBFB;
    background-color: #FF8AAD;
}
.explore_button{
    font-family: 'Changa One', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    width: 120px;
    font-size: 16px;
    font-weight: 300;
    top: 75%;
    left: 220px;
    position: absolute;
    border-radius: 12px;
    padding: 16px;
    color: #FF8AAD;
    background-color: #FBFBFB;
}


@media (max-width: 375px){

body{
    overflow: hidden;
    background-color: #FEB4B3;
}
header{
    height: 1vh;
    background-image: url(./img/header-image.png);
    background-position: bottom;
    background-size: cover;
    color: white;
    padding: 40px 7px;
    display: grid;
}
.menu img{
    display: flex;
    height: 30px;
    position: relative;
    top: -14px;
}
header nav{
    display: flex;
    justify-content: space-between;
}
.compras img{
    display: flex;
    height: 37px;
    position: relative;
    top: -17px;
}
.logo img{
    position: absolute;  
    top: 6%;
    left: 36%;
    transform: translate(-50%, -50%);
    height: 40px;
}
.marca p{
    place-self: center;
    text-align: center;
    position: relative;
    top: -47px;
    left: 5px;
    font-size: 18px;
    font-family: 'Changa One', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Varela Round', sans-serif;
}
.items{
    display: none;
}
.buynow{
    display: none;
}
main img{
    position: relative;
  }
.imagens{
    display: flex;
}
  .morangos img{
    height: 120px;
    position: absolute;
  }
.potinho img{
    height: 50px;
    left: 70px;
}
.casquinha-e-morango img{
    position: absolute;
    height: 80px;
    right: 1px;
}
.barca-sorvete img{
    display: grid;
    top: 30px;
    left: 35px;
    height: 250px;
}

.barca-desktop{
    display: none;
}

.title span{
    display: flex;
    font-size: 22px;
    width: 15rem;
    left: 10px;
    position: relative;
    top: 40px;
    color: white;
    font-family: 'Changa One', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Varela Round', sans-serif;
}
.passion{
    font-weight: 600;
    font-size: 22px;
    margin-left: 65px;
    margin-top: 13px;
    color: #720D14;
    font-family: 'Changa One', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Varela Round', sans-serif;
}
.info{
    font-size: 12px;
    color: #A5696D;
    width: 15rem;
    position: relative;
    top: 15px;
    left: 10px;
    font-family: 'Changa One', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Varela Round', sans-serif;
}
footer img{
    justify-content: space-between;
}
.products_button{
    font-family: 'Changa One', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    width: 100px;
    font-size: 12px;
    font-weight: 300;
    left: 10px;
    top: 556px;
    position: absolute;
    border-radius: 12px;
    padding: 10px;
    color: #FBFBFB;
    background-color: #FF8AAD;
}
.explore_button{
    font-family: 'Changa One', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    width: 100px;
    font-size: 12px;
    font-weight: 400;
    top: 556px;
    left: 120px;
    position: absolute;
    border-radius: 12px;
    padding: 10px;
    color: #FF8AAD;
    background-color: #FBFBFB;
}
}

@media (min-width: 768px) and (max-width: 1024px) {

    body{
        overflow: hidden;
        background-color: #FEB4B3;
    }
    header{
        height: 1vh;
        background-image: url(./img/header-image.png);
        background-position: bottom;
        background-size: cover;
        color: white;
        padding: 40px 7px;
        display: grid;
    }
    .menu img{
        display: flex;
        height: 40px;
        position: relative;
        top: -20px;
    }
    header nav{
        display: flex;
        justify-content: space-between;
    }
    .compras img{
        display: flex;
        height: 50px;
        position: relative;
        top: -17px;
    }
    .logo img{
        position: absolute;  
        top: 4%;
        left: 42%;
        transform: translate(-50%, -50%);
        height: 50px;
    }
    .marca p{
        place-self: center;
        text-align: center;
        position: relative;
        bottom: 60px;
        left: 4px;
        font-size: 18px;
        font-family: 'Changa One', cursive;
        font-family: 'Dancing Script', cursive;
        font-family: 'Varela Round', sans-serif;
    }
    .items{
        display: none;
    }
    .buynow{
        display: none;
    }
    main img{
        position: relative;
      }
    .imagens{
        display: flex;
    }
      .morangos img{
        height: 230px;
        position: absolute;
      }
    .potinho img{
        height: 90px;
        left: 160px;
    }
    .casquinha-e-morango img{
        position: absolute;
        height: 160px;
        right: 1px;
    }
    .barca-sorvete img{
        display: grid;
        top: 30px;
        left: 110px;
        height: 450px;
    }
    
    .barca-desktop{
        display: none;
    }
    
    .title span{
        display: flex;
        font-size: 35px;
        width: 25rem;
        left: 20px;
        position: relative;
        top: 40px;
        color: white;
        font-family: 'Changa One', cursive;
        font-family: 'Dancing Script', cursive;
        font-family: 'Varela Round', sans-serif;
    }
    .passion{
        font-weight: 600;
        font-size: 35px;
        margin-left: 110px;
        margin-top: -5px;
        color: #720D14;
        font-family: 'Changa One', cursive;
        font-family: 'Dancing Script', cursive;
        font-family: 'Varela Round', sans-serif;
    }
    .info{
        font-size: 16px;
        color: #A5696D;
        width: 20rem;
        position: relative;
        top: 15px;
        left: 20px;
        font-family: 'Changa One', cursive;
        font-family: 'Dancing Script', cursive;
        font-family: 'Varela Round', sans-serif;
    }
    footer img{
        justify-content: space-between;
    }
    .products_button{
        font-family: 'Changa One', cursive;
        font-family: 'Dancing Script', cursive;
        font-family: 'Varela Round', sans-serif;
        text-align: center;
        width: 130px;
        font-size: 18px;
        font-weight: 300;
        left: 20px;
        top: 83vh;
        position: absolute;
        border-radius: 12px;
        padding: 16px;
        color: #FBFBFB;
        background-color: #FF8AAD;
    }
    .explore_button{
        font-family: 'Changa One', cursive;
        font-family: 'Dancing Script', cursive;
        font-family: 'Varela Round', sans-serif;
        text-align: center;
        width: 130px;
        font-size: 18px;
        font-weight: 400;
        top: 83vh;
        left: 170px;
        position: absolute;
        border-radius: 12px;
        padding: 16px;
        color: #FF8AAD;
        background-color: #FBFBFB;
    }
    }