*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul, ol, li{
    list-style: none;
}
body{
    overflow: hidden;
    background-color: #FEB4B3;
}
header{
    height: 1vh;
    background-image: url(./img/header-image.png);
    background-position: bottom;
    background-size: cover;
    color: white;
    padding: 40px 7px;
    display: grid;
}
.menu img{
    height: 30px;
    position: relative;
    top: -14px;
}
header nav{
    display: flex;
    justify-content: space-between;
}
.compras img{
    height: 37px;
    position: relative;
    top: -17px;
}
.logo img{
    position: absolute;  
    top: 6%;
    left: 36%;
    transform: translate(-50%, -50%);
    height: 40px;
}
header p{
    place-self: center;
    text-align: center;
    position: relative;
    top: -47px;
    left: 5px;
    font-size: 18px;
    font-family: 'Changa One', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Varela Round', sans-serif;
}
main img{
    position: relative;
  }
.imagens{
    display: flex;
}
  .morangos img{
    height: 120px;
    position: absolute;
  }
.potinho img{
    height: 50px;
    left: 70px;
}
.casquinha-e-morango img{
    position: absolute;
    height: 80px;
    right: 1px;
}
.barca-sorvete img{
    top: 30px;
    left: 35px;
    height: 250px;
}
.title span{
    display: flex;
    font-size: 22px;
    width: 15rem;
    left: 10px;
    position: relative;
    top: 40px;
    color: white;
    font-family: 'Changa One', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Varela Round', sans-serif;
}
.passion{
    font-weight: 600;
    font-size: 22px;
    margin-left: 65px;
    margin-top: 13px;
    color: #720D14;
    font-family: 'Changa One', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Varela Round', sans-serif;
}
.info{
    font-size: 12px;
    color: #A5696D;
    width: 15rem;
    position: relative;
    top: 15px;
    left: 10px;
    font-family: 'Changa One', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Varela Round', sans-serif;
}
footer img{
    justify-content: space-between;
}
.products_button{
    font-family: 'Changa One', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    width: 100px;
    font-size: 12px;
    font-weight: 300;
    left: 10px;
    top: 556px;
    position: absolute;
    border-radius: 12px;
    padding: 10px;
    color: #FBFBFB;
    background-color: #FF8AAD;
}
.explore_button{
    font-family: 'Changa One', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    width: 100px;
    font-size: 12px;
    font-weight: 400;
    top: 556px;
    left: 120px;
    position: absolute;
    border-radius: 12px;
    padding: 10px;
    color: #FF8AAD;
    background-color: #FBFBFB;
}
.colher img{
    position: fixed;
    height: 130px;
    right: -30px;
}